
<img src="
https://raw.githubusercontent.com/minorharpman/ai_prog_pub/main/pandas/adattisztitas.png
" width="1000">

## Pandas: adatok betöltése és előkészítése, adattisztítás

* A Pandas egy Python programkönyvtár, amit adatok kezelésére és elemzésére használnak.
* Pandas jól alkalmazható Excel fájlok feldolgozására. Képes beolvasni Excel fájlokat, módosítani az adatokat, majd visszaírni őket Excelbe vagy más formátumba. Sokkal erősebb és automatizálhatóbb, mint az Excel önmagában, különösen nagy adatmennyiségek vagy ismétlődő feladatok esetén.

* fájlok törlése a folderből

* sor betölti a Pandas nevű adatelemző eszközt, és pd néven teszi elérhetővé.
*Ez olyan, mintha egy szerszámosládát vennél elő, és ráírnád, hogy "szerszámok", hogy könnyebben hivatkozhass rá.

# Visual Studio Code-ban:

telepítés terminálban: pip install jupyter

In [ ]:
futtatás terminálban: jupyter notebook

Jupyter notebook bezárása:

terminálban: CTRL + C

# Itt a Jupyter notebook-ban

ESC + M : megjegyzés cella a program cellából

SHIFT + ENTER cella futtatása

# Pandas telepítése

In [10]:
#!pip install pandas

In [8]:
import pandas as pd


*  betölti a mobil_bob_shop_adattisztit.xlsx nevű Excel fájlt, és az adatait egy df nevű táblázatba (DataFrame-be) teszi, amivel aztán tovább dolgozhatunk. </span>
* pd.read_excel(): Ez a Pandas parancs arra való, hogy Excel fájlokat olvasson be.
* "mobil_bob_shop_adattisztit.xlsx": Ez a fájl neve, amit beolvasunk. Fontos, hogy a fájl a program futtatási helyén legyen, vagy meg kell adni a teljes elérési útját.
*Az Excel fájlban lévő adatok egy táblázat formájában kerülnek beolvasásra, amit a Pandasban "DataFrame"-nek hívunk. Ezt a táblázatot tároljuk el a df nevű változóban. A df rövidítés a "DataFrame"-re utal, és gyakran használják az adatok tárolására.

# Openpyxl telepítése

In [11]:
#!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl

   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   ---------------------------------------- 2/2 [openpyxl]

Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [12]:
df = pd.read_excel("mobil_bob_shop_adattisztit.xlsx")
df.head()

,Termék,Mennyiség,Ár,Bevétel (eFt),Kategória,Régió,Akció,Dátum
0,Huawei P50,15.001,485727.001,7286.390742,Moobiltelefon,Nyíregyháza,akciós,2025-04-27
1,MacBook Air,10.001,605624.001,6056.845634,Laaptop,Nyíregyháza,akciós,2025-06-24
2,HP Spectre,14.001,321648.001,4503.393662,Laaptop,Miskolc,nem akciós,2025-07-09
3,Oppo Find X5,15.001,310850.001,4663.060865,Moobiltelefon,Budddapest,nem akciós,2025-04-26
4,iPhone 13,19.001,302125.001,5740.677144,Moobiltelefon,Kecskemét,akciós,2025-06-12

* parancs megmutatja a táblázat (DataFrame) első 15 sorát.
* df: Ez a változó tartalmazza az Excel fájlból beolvasott adatokat, egy táblázat formájában.
* .head(): Ez egy Pandas függvény, ami a DataFrame elejét mutatja meg.  (15): Ha zárójelben megadunk egy számot, mint itt a 15-öt, akkor annyi sort fog megjeleníteni a táblázat elejéről.
* hasznos az adatok gyors ellenőrzésére.

In [ ]:
df.head(3)

,Termék,Mennyiség,Ár,Bevétel (eFt),Kategória,Régió,Akció,Dátum
0,Huawei P50,15.001,485727.001,7286.390742,Moobiltelefon,Nyíregyháza,akciós,2025-04-27
1,MacBook Air,10.001,605624.001,6056.845634,Laaptop,Nyíregyháza,akciós,2025-06-24
2,HP Spectre,14.001,321648.001,4503.393662,Laaptop,Miskolc,nem akciós,2025-07-09

* parancs megmutatja, az egyes oszlopokban milyen típusú adatok vannak a táblázatban (DataFrame).
* df: Ez a változó tartalmazza az Excel fájlból beolvasott adatokat, egy táblázat formájában.
* .dtypes: Ez egy Pandas tulajdonság, ami visszaadja az egyes oszlopok adattípusát.Például, ha egy oszlopban számok vannak, akkor  int64 (egész szám) vagy float64 (tizedes szám) típusú lesz. Ha szövegek, akkor object típusú.Ez a parancs segít megérteni, hogy a Pandas hogyan értelmezi az adataidat, ami fontos lehet a későbbi műveletekhez.

In [13]:
# oszlopok adattípusának lekérdezése
# Akció nem logikai típusú,
# Mennyiség, Ár tizedestört
df.dtypes

Termék            object
Mennyiség        float64
Ár               float64
Bevétel (eFt)    float64
Kategória         object
Régió             object
Akció             object
Dátum             object
dtype: object

* hány sor és hány oszlop van a táblázatban (DataFrame).
* df: Ez a változó tartalmazza az Excel fájlból beolvasott adatokat, egy táblázat formájában.
* .shape: Ez egy Pandas tulajdonság, ami egy szám-párost ad vissza: az első szám a sorok számát, a második pedig az oszlopok számát jelöli.Például, ha az eredmény (15, 8), az azt jelenti, hogy a táblázatban 15 sor és 8 oszlop van.Ez a parancs hasznos az adathalmaz méretének gyors áttekintéséhez.

In [14]:
#hány sor és hány oszlop van
df.shape

(1040, 8)

* eltávolítja az ismétlődő sorokat a táblázatból
* df: Ez az eredeti táblázat (DataFrame), amiből az ismétlődéseket el akarjuk távolítani.
* .drop_duplicates(): Ez egy Pandas függvény, ami megkeresi és eltávolítja azokat a sorokat, amelyek teljesen megegyeznek egy másik sorral a táblázatban. Alapértelmezetten az összes oszlopot figyelembe veszi az ismétlődések keresésekor.

In [15]:
#eltávolítja az ismétlődő sorokat a táblázatból
df = df.drop_duplicates()

df

,Termék,Mennyiség,Ár,Bevétel (eFt),Kategória,Régió,Akció,Dátum
0,Huawei P50,15.001,485727.001,7286.390742,Moobiltelefon,Nyíregyháza,akciós,2025-04-27
1,MacBook Air,10.001,605624.001,6056.845634,Laaptop,Nyíregyháza,akciós,2025-06-24
2,HP Spectre,14.001,321648.001,4503.393662,Laaptop,Miskolc,nem akciós,2025-07-09
3,Oppo Find X5,15.001,310850.001,4663.060865,Moobiltelefon,Budddapest,nem akciós,2025-04-26
4,iPhone 13,19.001,302125.001,5740.677144,Moobiltelefon,Kecskemét,akciós,2025-06-12
...,...,...,...,...,...,...,...,...
996,MacBook Air,16.001,683497.001,10936.635513,Laaptop,Miskolc,akciós,2025-06-20
997,iPad Pro,27.001,194959.001,5264.087986,Taablet,Székesfehérvár,nem akciós,2025-06-09
998,Sony Bravia,22.001,156264.001,3437.964286,TtV,Székesfehérvár,akciós,2025-06-21
999,Védőtok,29.001,25664.001,744.281693,Kiiegészítő,Nyíregyháza,nem akciós,2025-06-21
1000,iPhone 13,25.001,350000.001,8750.350025,Mobiltelefon,Budapest,akciós,2025-07-19

In [16]:
# oszlopok adattípusának lekérdezése
df.shape

(1001, 8)

Táblázatban a hiányzó értékek nullára cserélése (számításoknál ne okozzon gondot.

In [17]:
df['Mennyiség'] = df['Mennyiség'].fillna(0)
df['Ár'] = df['Ár'].fillna(0)

In [ ]:
df

In [18]:
#oszlop megtekintése
df["Mennyiség"]

0       15.001
1       10.001
2       14.001
3       15.001
4       19.001
         ...
996     16.001
997     27.001
998     22.001
999     29.001
1000    25.001
Name: Mennyiség, Length: 1001, dtype: float64

In [19]:
# sorok megtekintése
df["Mennyiség"][1:3]

1    10.001
2    14.001
Name: Mennyiség, dtype: float64

In [20]:
df["Mennyiség"].dtypes

dtype('float64')

In [21]:

# A `astype(int)` metódus a "Mennyiség" oszlop értékeit `int` (integer) típusúra konvertálja,
#vagyis egész számokká.
# A `DataFrame["oszlopnév"]` egy `Series`, amely típuskonverzió után szintén `Series` marad.

df["Mennyiség"] = df["Mennyiség"].astype(int)
#df["Mennyiség"] = df["Mennyiség"].round().astype(int)
df["Mennyiség"]

0       15
1       10
2       14
3       15
4       19
        ..
996     16
997     27
998     22
999     29
1000    25
Name: Mennyiség, Length: 1001, dtype: int64

In [22]:
df["Ár"].head()

0    485727.001
1    605624.001
2    321648.001
3    310850.001
4    302125.001
Name: Ár, dtype: float64

In [23]:
df["Ár"] = df["Ár"].astype(int)
df["Ár"]

0       485727
1       605624
2       321648
3       310850
4       302125
         ...
996     683497
997     194959
998     156264
999      25664
1000    350000
Name: Ár, Length: 1001, dtype: int64

In [24]:
# szöveggé alakítás
df["Ár"] = df["Ár"].astype(str) + " Ft"
df["Ár"]

0       485727 Ft
1       605624 Ft
2       321648 Ft
3       310850 Ft
4       302125 Ft
          ...
996     683497 Ft
997     194959 Ft
998     156264 Ft
999      25664 Ft
1000    350000 Ft
Name: Ár, Length: 1001, dtype: object

In [25]:
df["Akció"].head()

0         akciós
1         akciós
2     nem akciós
3     nem akciós
4         akciós
Name: Akció, dtype: object

In [26]:
# melyik akciós?
## space van a szöveg után!
df["Akció"][4]

' akciós '

* A Pandas apply() f lehetővé teszi, hogy egy általad megadott függvényt alkalmazza egy DataFrame vagy  elemeire

In [27]:
# szöveg csere
def akcios_csere(x):
      # eltávolítja a whitespace (szóköz, tab,.. ) karaktert.
      x = x.strip()
      if x == "akciós":
          return True
      elif x == "nem akciós":
          return False

if df["Akció"].dtype != bool:
  df["Akció"] = df["Akció"].apply(akcios_csere)

In [28]:
df["Akció"].head(5)

0     True
1     True
2    False
3    False
4     True
Name: Akció, dtype: bool

In [ ]:
# Szöveg javítása
df["Kategória"]

0       Moobiltelefon
1             Laaptop
2             Laaptop
3       Moobiltelefon
4       Moobiltelefon
            ...
996           Laaptop
997           Taablet
998               TtV
999       Kiiegészítő
1000     Mobiltelefon
Name: Kategória, Length: 1001, dtype: object

In [29]:
def csere(x):

    x = x.replace("Moobiltelefon", "Mobiltelefon")
    x = x.replace("Laaptop", "Laptop")
    x = x.replace("TtV", "TV")
    x = x.replace("Taablet", "Tablet")
    x = x.replace("Kiiegészítő", "Kiegészítő")
    return x

df["Kategória"] = df["Kategória"].apply(csere)

In [30]:
df["Kategória"]

0       Mobiltelefon
1             Laptop
2             Laptop
3       Mobiltelefon
4       Mobiltelefon
            ...
996           Laptop
997           Tablet
998               TV
999       Kiegészítő
1000    Mobiltelefon
Name: Kategória, Length: 1001, dtype: object

In [31]:
df["Régió"].unique()

array(['Nyíregyháza', 'Miskolc', 'Budddapest', 'Kecskemét', 'Győr',
       'Debbbrecen', 'Szeggged', 'Pécs', 'Székesfehérvár', 'Budapest'],
      dtype=object)

In [32]:
def csere_regio(x):
    x = x.replace("Budddapest", "Budapest")
    x = x.replace("Debbbrecen", "Debrecen")
    x = x.replace("Szeggged", "Szeged")
    return x


df["Régió"] = df["Régió"].apply(csere_regio)

In [ ]:
df["Régió"].unique()

array(['Nyíregyháza', 'Miskolc', 'Budapest', 'Kecskemét', 'Győr',
       'Debrecen', 'Szeged', 'Pécs', 'Székesfehérvár'], dtype=object)

In [33]:
# nem oszlop, egész df
# axis=1  paraméter
def letrehoz(x):
     return x["Termék"] +", ("+  x["Kategória"]+")"

df["Termék és Kategória"] = df.apply(letrehoz, axis=1)
df

,Termék,Mennyiség,Ár,Bevétel (eFt),Kategória,Régió,Akció,Dátum,Termék és Kategória
0,Huawei P50,15,485727 Ft,7286.390742,Mobiltelefon,Nyíregyháza,True,2025-04-27,"Huawei P50, (Mobiltelefon)"
1,MacBook Air,10,605624 Ft,6056.845634,Laptop,Nyíregyháza,True,2025-06-24,"MacBook Air, (Laptop)"
2,HP Spectre,14,321648 Ft,4503.393662,Laptop,Miskolc,False,2025-07-09,"HP Spectre, (Laptop)"
3,Oppo Find X5,15,310850 Ft,4663.060865,Mobiltelefon,Budapest,False,2025-04-26,"Oppo Find X5, (Mobiltelefon)"
4,iPhone 13,19,302125 Ft,5740.677144,Mobiltelefon,Kecskemét,True,2025-06-12,"iPhone 13, (Mobiltelefon)"
...,...,...,...,...,...,...,...,...,...
996,MacBook Air,16,683497 Ft,10936.635513,Laptop,Miskolc,True,2025-06-20,"MacBook Air, (Laptop)"
997,iPad Pro,27,194959 Ft,5264.087986,Tablet,Székesfehérvár,False,2025-06-09,"iPad Pro, (Tablet)"
998,Sony Bravia,22,156264 Ft,3437.964286,TV,Székesfehérvár,True,2025-06-21,"Sony Bravia, (TV)"
999,Védőtok,29,25664 Ft,744.281693,Kiegészítő,Nyíregyháza,False,2025-06-21,"Védőtok, (Kiegészítő)"
1000,iPhone 13,25,350000 Ft,8750.350025,Mobiltelefon,Budapest,True,2025-07-19,"iPhone 13, (Mobiltelefon)"

In [ ]:
##Gyakorlás
# 1. az első sortól lejátszás
# 2. külön munkafüzet (https://colab.research.google.com/) kód átmásolása
# 3. saját excel fájl feltöltés, az oszlopok átnevezése, tesztelés
# Visszajelzés, kérdések

## Összefoglalás

# DataFrame kiírása Excel fájlba

In [36]:
# index=False kikapcsolja a sorszámok mentését
df.to_excel('output.xlsx', index=False)